In this notebook we will try to answer at the following question:
# Is it possible to build a classifier to identify legendary pokémon?

In [10]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

pokemon = pd.read_csv("../dataset/pokemon.csv")
pokemon.set_index('name',inplace=True)
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

We will proceed by building a <b> decision tree </b> considering various feature such as the capture_rate, the stats and the types.

In [44]:
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score

import numpy as np

In [70]:
X = pokemon
y = np.array(pokemon['is_legendary'])

In [71]:
def train(model_class, X, y, num_fold_cross_val, scaling=StandardScaler(), dim_reduction=None):
        
    X_std = scaling.fit_transform(X)  if scaling is not None else X
    
    X_std = dim_reduction.fit_transform(X_std) if dim_reduction is not None else X_std

    val = cross_val_score(model_class(), X_std, y, cv=num_fold_cross_val)
        
    return val.mean()

### Step 1: base_total, capture_rate

In [72]:
features1 = ['base_total','capture_rate']

In [73]:
X1 = X.filter(features1)
X1.head()

            base_total  capture_rate
name
Bulbasaur          318            45
Ivysaur            405            45
Venusaur           625            45
Charmander         309            45
Charmeleon         405            45

In [74]:
train(tree.DecisionTreeClassifier,X1.values,y,7,dim_reduction=PCA(n_components=2))

0.9699792960662527